@font-face{
    font-family: fuentechida;
    src:url(fonts/OleoScript-Regular.ttf);
}

body{
    background-image: url(imagenes/hotel1.jpg);
    background-repeat:no-repeat; 

    

}

label{
    color:white;
    font-size: 40px;
}

.formulario{
    background-color: aliceblue;
    height: 200px;
    width: 30%;
    transition:2s;
    margin-top: 100px;
    box-shadow: 0px 0px 40px red,0px 0px 80px white;

}

.logo{
    height: 75px;
    margin-top: 40px;
 

}

.espaciado{
    margin-top: 40px;
}

h3,h4{
    color: white;
    text-align: center;
}

